{% extends "templates/app.twig"%}

{% block content %}
    <section id="main">
        <div class="breadcrumb-wrapper">
            <div class="pattern-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <h2 class="title">Camps Description</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="breadcrumbs pull-right">
                                <ul>
                                    <li>You are Now on:</li>
                                    <li><a href="{{path_for('home')}}">Home</a></li>                                   
                                    <li>Camps Description</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="content margin-top60 margin-bottom60">
            <div class="container">
                <div class="row margin-bottom40">
                    <h2>{{'1. GAMING AND ANIMATION WITH SCRATCH' | title}}:</h2>
                    <h3>Descriptions:</h3>
                    <p>Young aspiring coders engage into creating animated stories and interactive experiences while learning essential programming concepts with Scratch. With its creative drag and drop environment, using sprites and code blocks, students will build a foundation of computational thinking, logics for solving problems, designing projects, and communicating ideas. —an essential skill in this tech-driven world.</p>
                    <p>In this camp, students will be taken outdoors for taking photos which they may use in their coded animation or games in scratch.</p>
                    <h3>In this course, your student will:</h3>
                    <ul>
                        <li>Core computational concepts such as iteration and conditionals.</li>
                        <li>Mathematical concepts such as coordinates, variables, and random numbers.</li>
                        <li>Program using arithmetic operators</li>
                        <li>Understand the coordinate system</li>
                        <li>Design and animate sprites</li>
                        <li>Experiment and explore to build creativity and confidence</li>

                    </ul><br>
                    <h3>Your student will take home:</h3>
                    <p>Project files (camper need to bring their own USB Drive) </p>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'2. Computer Foundation with Art 1 (7-9 yrs.)' | title}}:</h2>
                    <h3>Descriptions:</h3>
                    <p>This foundation building program focus on introducing various programs and essential skill building activities for early tech and art for kid. They will also get lot of opportunity to get proficient in basic skills using the mouse, right click, selecting, typing, formatting along with developing good computer habits of organizing and saving their work. These will help them in develop the speed and accuracy. </p>
                    <h3>In this course, your student will:</h3>
                    <ul>
                        <li>Graphic arts</li>
                        <li>Drawing art </li>
                        <li>Multimedia slide presentations</li>                       
                    </ul>
                    <h3>Your student will take home:</h3>                   
                    <ul>
                        <li>Project files (required to bring their own USB drive) </li>
                        
                    </ul>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'3. Computer Foundation with Art 2 (7-9 yrs.)' | title}}:</h2>
                    <h3>Descriptions:</h3>
                    <p>This foundation building program focus on introducing various programs and essential skill building activities for early tech and art for kid.</p>
                    <h3>In this course your student will learn:</h3>
                    <ul>
                        <li>Animation</li>
                        <li>Word Processing </li>
                        <li>Multimedia slide presentations</li>                       
                    </ul>
                    <h3>Your student will take home:</h3>                   
                    <ul>
                        <li>Project files (required to bring their own USB drive) </li>
                        
                    </ul>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'4. PYTHON CODING'| title }}</h2>
                    <h3>Descriptions:</h3>
                    <p>Ready to learn one of the most widely used programming languages in the world? Then this is the camp to sign up for. Python is a powerful, expressive programming language that's easy to learn and fun to use. As the kids strike out on your programming adventure in this class, they will start with learning programming fundamentals. The first few sessions students typically make text question-and-answer projects. The limited set of commands allows kids to think about problem-solving like a computer scientist and become comfortable with concepts like loops, conditionals, variables, and functions. Next graphics are introduced through fun projects. Python provides a friendly learning environment with graphics to allow campers to explore the extent of their creativity.</p>
                    <h3>In this course, your student will learn:</h3>
                    <ul>
                        <li>Use fundamental data structures like lists, turtles, and maps </li>
                        <li>Organize and reuse your code with functions and modules</li>
                        <li>Use control structures like loops and conditional statements</li>
                        <li>Draw shapes and patterns with Python's turtle module</li>
                        <li>Functions</li>
                        <li>Dictionaries </li>
                        <li>Classes</li>
                        <li>Programmers build games, create animations and solve interesting problems</li>

                    </ul><br>
                    <h3>Your student will take home:</h3>
                    <ul>
                        <li>Project files (required to bring their own USB drive) </li>

                    </ul>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'5. Java Coding' | title}}</h2>
                    <h3>Descriptions:</h3>
                    <p>Java is said to be the fundamental high-level object-oriented programming language. It is easy to learn other programming languages if you know Java. It teaches all the fundamentals of programming</p>
                    <h3>Your student will take home:</h3>
                    <p>Project files (required to bring their own USB drive) </p>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'6. Photography and Image editing' | title }}</h2>
                    <h3>Descriptions:</h3>
                    <p>
                        This camp is a good blend of Photography and digital image editing. Camper will learn the basics of photography and take photos using digital camera. Then they will create digital art using various graphic tools and learn to do image manipulations of their own shoot pictures during the camp which involves transforming or altering a photograph using various methods and techniques to get desired results. They will combine images to create their unique master digital art. 

                    </p>  
                    <h3>In this course, your student will learn:</h3>
                    <ul>
                        <li>Basics of photography.</li>
                        <li>Techniques of image editing</li>
                        <li>Create digital art using GIMP</li>
                        <li>Create portfolio of their digital art</li>

                    </ul><br>
                    <h3>Your student will take home:</h3>
                    <ul>
                        <li>Project files (required to bring their own USB drive)</li>
                    </ul>                 
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'7. ROBOTICS with EV3'| title}}</h2>
                    <h3>Descriptions:</h3>
                    <p>
                        In this camp we take a fun, hands-on approach, turning building crucial STEM (science, technology, engineering and math) skills into an engaging, memorable experience. Working in small group setting, students will develop fundamental computer programming and problem-solving competencies as they build, analyze and troubleshoot several different robotic creations.

                    </p>
                    <h3>In this course, your student will learn:</h3>
                    <ul>
                        <li>How to build advanced robots using the LEGO® EV3 kit.</li>
                        <li>Discover how code translates into real-world, autonomous actions for your robot</li>
                        <li>Understand how to use color, gyroscope, ultrasonic, Bluetooth® and touch sensors to control a robot</li>
                        <li>Master essential skills for winning robotic competitions</li>
                        <li>Collaborate and work together on project-based teams</li>

                    </ul>                   
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'8. YouTubing: Video production and Editing'| title}}</h2>
                    <h3>Descriptions:</h3>
                    <p>
                        Be the star of your own show with a YouTube channel you create yourself. Plan a production schedule, write the script, set up and shoot your short films, adding special effects as you edit. Learn how to post your polished pieces and build an audience. At the end of the week, share your finished videos with family and friends—and the world.
                    </p>
                    <h3>In this course, your student will learn:</h3>
                    <ul>
                        <li>Explore a range of different video styles—DIYs, screencasts</li>
                        <li>Write script</li>
                        <li>Edit video</li>
                        <li>Publish on their own you tube channel</li>
                    </ul>
                    <br>
                    <h3>Your student will take home:</h3>
                    <ul>
                        <li>Project files (required to bring their own USB drive) </li>

                    </ul>                  
                </div>
                <div class="row margin-bottom40">
                    <h2>{{"9. Engineering Adventures(6-9Yrs)" | title }}</h2>
                    <small><b>Program conducted by Bricks4Kidz</b></small>
                    <p>Making it move is the name of the game at this exciting camp! Kids will love to see their creations in motion. Each day is theme based where, campers will use fascinating and challenging LEGO® components to create dynamic theme-based objects and machines. As they enjoy the fun of building, campers will understand the basic working principles of many ingenious devices that are part of our everyday lives. Campers will learn how to redirect force to move objects at different speeds & in different directions. This camp is loads of Fun & Learning for budding engineers!!!</p>
                    
                </div>
                <div class="row margin-bottom40">
                    <h2>{{"10. FUN WITH SCIENCE – Motion and Mechanics" | title}}</h2>
                    <h3>Descriptions:</h3>
                    <p>Science is all-pervading in our daily lives and Science should be made fun through innovative approaches. Fun with Motion and Mechanics is a means to building a solid foundation in concepts of Physics. Young minds will be offered an opportunity to understand how things work and why. They will be encouraged to look around at their daily lives and find science in their environment, understand basic scientific concepts by asking questions and seeking answers and fuel their imagination by combining active, hands-on/minds-on STEM learning experiences.</p>
                    <h3>In this course, your student will learn concepts like:</h3>
                    <ul>
                        <li>What makes an object move? </li>
                        <li>What is Balance of Forces? </li>
                        <li>What are the Laws of Motion? </li>
                        <li>What does a machine do? </li>
                        <li>Understand what are park mechanics?</li>
                        <li>Create their own models and projects to take home! </li>

                    </ul>
                    <p>This course helps develop their confidence, communication skills and ability to scientifically understand things around them through researching, testing, organizing data, analyzing and problem solving. All while having FUN!</p>
                    <h3>Your student will take home:</h3>
                    <p>Project and model</p>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'11. Art Blend ( 8 -11 yrs.)'| title }}</h2>
                    <h3>Descriptions:</h3>
                    <p>
                        Creativity comes forth when mastery of core skills is combined with original thought. In this camp, kids will be engaging in creating both Digital art and Drawing art and build the skills in both medium of creating art. They will create digital art using various graphic tools and learn to do image manipulations which involves transforming or altering a photograph using various methods and techniques to get desired results. If into Scratch coding and gaming, they may use their created graphics and give them life in their own animation and games

                    </p>
                    <p>
                        In drawing art sessions, they will learn how to draw by breaking down complex object into foundation shapes. They will learn variety of art concepts which will help develop the skill, and confidence to continue participating in the arts.

                    </p>
                    <h3>In this course, your student will learn:</h3>
                    <ul>
                        <li>Creating graphics in MS paint </li>
                        <li>Image editing and creating digital art using PhotoFilter application</li>
                        <li>Step by step hand drawing</li>
                        
                    </ul><br>
                    <h3>Your student will take home:</h3>
                    <ul>
                        <li>Project files (required to bring their own USB drive on Day1) </li>
                        <li>Free Photofiltre application</li>
                        <li>Hand drawn art</li>
                        <li>Digital Portfolio of all the art created</li>
                        
                    </ul>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{'12. Cartoons N Characters - Drawing Workshop'| title }}</h2>
                    <small><b>Program conducted by Young Rembrandts. </b></small>
                    <h3>Descriptions:</h3>
                    <p>
                        Learn the basics of cartooning and create your own characters! Each day students will learn step-by-step techniques used in cartooning. Subjects like characteristics, features, exaggeration, action and personification will contribute to your child’s artistic advancement!  They will immediately apply their new skills in every class to create their own original cartoon characters. 

                    </p>
                    <p>
                        If taking our scratch coding camp, they can use their created characters and back ground graphics and bring them to life in a game or animation.

                    </p>
                </div>
                <div class="row margin-bottom40">
                    <h2>{{"13. Fashion Runway: Drawing Workshop (10-14 Yrs)" | title }}</h2>
                    <small><b>Program conducted by Young Rembrandts. </b></small>
                    <h3>Descriptions:</h3>
                    <p>
                        
                        This stylish Young Rembrandts workshop is tailored for the aspiring fashionista. Join us for 5 days of runway chic as we illustrate the various aspects of fashion design. Step into the shoes of a fashion magazine editor as you design and draw an eye-catching fashion magazine cover. And let’s not forget about purses! Design the perfect purse to go along with the outfit of your dreams. And finally, draw your model stepping out onto the runway in your fashion originals. If you love to design clothes and are hip to the latest fashions, this drawing workshop is a perfect fit.

                    </p>
                </div>
                
                <div class="row margin-bottom40">
                    <h2>{{'14. Art Smart – Drawing Workshop (9-14 yrs.)'| title}}</h2>
                    <small><b>Program conducted by Young Rembrandts. </b></small>
                    <h3>Descriptions:</h3>
                    <p>
                       In this class, you will develop enhanced observational drawing skills as you investigate line, value, form, perspective, texture, and color while working with a variety of drawing materials, including pencil, charcoal, and pastels. Students will focus on learning how to see the world around them and how to translate this newly found vision into the two-dimensional world of drawing. A great class to start with if you don’t have much experience! Price includes all art materials.

                    </p>
                </div>
               
            </div>
        </div>
    </section>
                                    
{% endblock %}